.links {
  min-width: fit-content;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links li {
  list-style: none;
}

.nav-link {
  color: white;
  font-weight: 400;
  text-decoration: none;
  overflow-x: hidden;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-out;
  font-size: 0.9em;
  line-height: 2.5;
}

.nav-link:hover {
  color: white;
  font-weight: 400;
  text-decoration: none;
  overflow-x: hidden;
  border-bottom: 2px solid white;
  transition: 0.2s ease-out;
  font-size: 0.9em;
}

@media (max-width: 1400px) {
  .navigation_wrapper .links {
    width: 60%;
  }
}
