.hero-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url(../../public/videoGif.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animate-title-container {
  margin: auto;
  padding-inline: 10%;
  padding-top: 40px;
}

.animate-title h1 {
  padding-right: 5vw;

  font-weight: 600;
  font-size: 10vw;
  line-height: 0.9em;
  opacity: 0.8;
  color: #dbfff5;
}

@media (min-width: 1501px) {
  .animate-title h1 {
    font-size: 11.5vw;
    font-size: 10.8vw;
  }
}

@media (max-width: 1500px) {
  .animate-title h1 {
    font-size: 12vw;
  }
}

@media (max-width: 1000px) {
  .animate-title h1 {
    font-size: 17.8vw;
  }
}

.hero-wrapper video {
  position: fixed;
  left: 0;
  width: 100%;
  top: -5.1em;
  pointer-events: none;
  height: 120vh;
  object-fit: cover;
}

@keyframes fadein2 {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
