.cart {
  padding: 1.5em;
  background-color: #e8f6f4;
  border-radius: 5px;
}

/* cart item */

.cart-item {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.cart-item:not(:last-of-type) {
  margin-bottom: 1.5em;
}

.delete-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-img {
  max-height: 4em;
  cursor: pointer;
}

.item-info {
  align-self: flex-start;
  font-size: 14px;
}

.item-quantity-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.item-quantity-wrapper button {
  padding-inline: 0.5em;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: #10845a;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.item-quantity-wrapper button span {
  display: inline-block;
  vertical-align: baseline;
}

.item-quantity {
  width: 3em;
  text-align: center;
}

.item-quantity-wrapper button:first-of-type,
.item-quantity-wrapper button:last-of-type:active {
  color: #10845a;
  background-color: white;
}

.item-quantity-wrapper button:first-of-type:active {
  color: white;
  background-color: #10845a;
}

.price {
  margin-top: 0.4em;
  color: #10845a;
  font-weight: 500;
}

.secondary-info {
  opacity: 0.5;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.cart-total {
  margin-left: calc(28px + 14px);
  margin-top: 2em;
}

.cart-total span {
  color: #10845a;
  font-weight: 500;
}
/* 
.checkout-btn {
  margin-left: calc(28px + 14px);
} */

@media (max-width: 900px) {
  .cart-item {
    gap: 1em;
  }

  .delete-btn {
    display: none;
  }

  .item-info {
    font-size: 12px;
  }

  .cart-total {
    margin-left: 0;
    margin-top: 1.5em;
  }
}
