/* .about-intro-content {
  min-height: 90vh;
  justify-content: left;
  align-items: center;
  padding: 0 10% 7% 10%;
  /* transform: scale(0.8) !important; 
}

.about-intro-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about-intro-title h1 {
  flex: 1;
  justify-self: center;
  padding-right: 2em;
  font-size: 3em;

  min-width: 400px;
}

.about-intro-title h2 {
  color: #10845a;
  font-size: 10em;
  flex: 1;
} */

.about-intro-title-2 {
  padding-top: 4em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

.about-intro-img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-intro-img img {
  align-self: center;
  width: 25vw;
  min-width: 300px;
}

.about-intro-text {
  flex: 1.5;
  display: flex;
  justify-content: center;
  min-width: 500px;
}

.about-intro-text h3 {
  width: 70%;
  font-size: 1.6em;
}

@media (max-width: 1124px) {
  .about-intro-title-2 {
    gap: 4em;
  }

  .about-intro-text h3 {
    width: 70%;
    font-size: 1.7em;
  }
}

@media (max-width: 630px) {
  .about-intro-text {
    min-width: auto;
  }

  .about-intro-title-2 {
    gap: 2em;
  }

  .about-intro-text h3 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .about-intro-img {
    min-width: 200px;
  }

  .about-intro-title h1 {
    min-width: initial;
  }
}

@media (max-width: 280px) {
  .about-intro-text h3 {
    width: initial;
  }
}

@media (max-width: 800px) {
  .about-intro-title {
    font-size: 0.8em;
  }
  .about-intro-text {
    font-size: 0.8em;
  }
}

@media (max-width: 1329px) {
  .about-intro-title h1 {
    flex: initial;
    padding-right: 0;
  }

  .about-intro-title h2 {
    flex: initial;
  }
}

@media (max-width: 800px) {
  .about-intro-title h2 {
    font-size: 7em;
  }
}

.about-intro-title h3 {
  font-size: 1.2em;
  width: 50%;
}

.about-intro-title img {
  margin-top: 3em;
}

.ods-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.ods-list li {
  width: 25%;
  margin-bottom: 1em;
}

.ods-img {
  width: 80%;
  display: block;
  margin-inline: auto;
  margin-bottom: 0.5em;
}

.ods-list li p {
  color: #d03a44;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

.ods-list li:first-of-type .ods-img {
  border: 2px solid #d03a44;
}

.ods-list li:first-of-type p {
  color: #d03a44;
}

.ods-list li:nth-of-type(2) .ods-img {
  border: 2px solid #b23335;
}

.ods-list li:nth-of-type(2) p {
  color: #b23335;
}

.ods-list li:nth-of-type(3) .ods-img {
  border: 2px solid #c73269;
}

.ods-list li:nth-of-type(3) p {
  color: #c73269;
}

.ods-list li:nth-of-type(4) .ods-img {
  border: 2px solid #e89e46;
}

.ods-list li:nth-of-type(4) p {
  color: #e89e46;
}

.ods-list li:nth-of-type(5) .ods-img {
  border: 2px solid #00699e;
}

.ods-list li:nth-of-type(5) p {
  color: #00699e;
}

.ods-list li:nth-of-type(6) .ods-img {
  border: 2px solid #1a476b;
}

.ods-list li:nth-of-type(6) p {
  color: #1a476b;
}

@media (max-width: 800px) {
  .ods-list li {
    width: 45%;
  }
}
