.ajudar-hero-wrapper {
  min-height: 50vh;
  height: 100vh;
  width: 100%;
  background-color: #e8f6f4;
}

.ajudar-hero-wrapper .ajudar-hero-content {
  height: 100%;
  width: 100%;
  padding: 0 10% 0 10%;
}

.ajudar-background {
  background-color: #c8e5dd;
}

.doar {
  max-width: 800px;
  height: 100%;
  margin-inline: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doar h2 {
  max-width: 600px;
  color: black;
  text-align: center;
  font-size: 2.75em;
  line-height: 1.2;
  font-weight: 500;
  padding-top: 20px;
}

.doar h2 span {
  color: #10845a;
}

@media (max-width: 800px) {
  .doar h2 {
    font-size: 2em;
    line-height: 1.2em;
  }
}

.doar p {
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 800px) {
  .doar p {
    font-size: 0.75rem;
  }
}

.ajudar-hero-content .doar svg {
  display: block;
  justify-content: center;
  align-items: center;
}

.doar svg {
  transform: initial;
  transition: transform 0.2s ease-in-out;
}

.doar svg:hover {
  transform: scale(1.06);
}

.ajudar-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20%;
}

@media (max-width: 800px) {
  .ajudar-btn-wrapper {
    flex-direction: column;
    width: max-content;
    gap: 1.5rem;
  }
}

.ajudar_button {
  border: none;
  border-radius: 5px;
  padding: 0.8em 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.75em;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
  color: #10845a;
  text-decoration: none;
}

.ajudar_button:hover {
  background-color: #10845a;
  color: white;
}

.socio_button {
  background-color: #10845a;
  color: white;
}

.socio_button:hover {
  background-color: white;
  color: #10845a;
}

.ajudar-cards-wrapper {
  min-height: 50vh;
  width: 100%;
  padding-bottom: 6em;
  background-color: #c8e5dd;
}

@media (max-width: 800px) {
  .ajudar-cards-wrapper {
    padding-inline: 10%;
  }
}

@media (min-width: 800px) {
  .ajudar-cards-wrapper {
    padding-inline: 5%;
  }
}

.ajudar-cards-wrapper h1 {
  padding-block: 3em;
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 800px) {
  .ajudar-cards-wrapper h1 {
    font-size: 2em;
  }
}

.ajudar-cards-content {
  margin-inline: auto;
  max-width: 1100px;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .ajudar-cards-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

@media (min-width: 800px) {
  .ajudar-cards-content {
    gap: 2rem;
  }
}

@media (min-width: 1100px) {
  .ajudar-cards-content {
    gap: 5%;
  }
}
