.product-wrapper {
  font-size: 20px;
}

.product-img {
  margin-bottom: 1.2em;
  cursor: pointer;
}

.price {
  margin-bottom: 1em;
  color: #10845a;
  font-weight: 500;
}

/* 2col */
@media (min-width: 700px) and (max-width: 1000px) {
  .product-wrapper {
    width: calc(50% - 4vw);
  }
}

/* 3col */
@media (min-width: 1000px) {
  .product-wrapper {
    width: calc(calc(100% / 3) - calc(16vw / 3));
    font-size: 18px;
  }
}
