.products-container {
  max-width: 1800px;
  margin-inline: auto;
}

.products-section-header {
  padding-top: min(5%, 5em);
  padding-bottom: min(1.5%, 2em);
}

@media (max-width: 700px) {
  .products-container > *:not(:last-of-type) {
    margin-bottom: 3em;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .products-container > *:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

@media (min-width: 700px) {
  .products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8vw;
  }
}
