.cart {
  position: fixed;
  top: 96px;
  right: 50px;
  padding: 1.5em;
  background-color: #e8f6f4;
  border-radius: 5px;
  animation: fade-in 500ms;
  /* animation: fade-out 0.1s; */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* cart item */

.item {
  height: auto;
  display: flex;
  align-items: center;
  gap: 1em;
}

.item:not(:last-of-type) {
  margin-bottom: 1em;
}

.delete-btn {
  padding-right: 1.5em;
}

.delete-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-img {
  max-height: 4em;
  cursor: pointer;
}

.item-info {
  align-self: flex-start;
  /* max-width: 4em; */
  font-size: 14px;
}

.secondary-info {
  margin-top: 0.2em;
  opacity: 0.5;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.checkout-btn {
  margin-top: 2em;
  margin-inline: auto;
}
